@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --themePink: #fdc9c6;
  --themeBlue: #00d1e1;
}
body {
  background-image: linear-gradient(
    to top,
    #fdc9c6,
    #f5c0df,
    #cac3fc,
    #78ccff,
    #00d1e1
  ) !important;
  height: 100vh;
}
.bg-themePink {
  background-color: var(--themePink) !important;
}
.bg-themeBlue {
  background-color: var(--themeBlue) !important;
}
.icon-container {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
}
.parentContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
}
.outerRing {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 1.3rem solid white;
  opacity: 0.2;
  animation-name: beatRing;
  animation-delay: 1.2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.secondRing {
  padding: 0.3rem;
  opacity: 0.5;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 12rem;
  height: 12rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1.3rem solid white;
  animation-name: beatRing;
  animation-delay: 1.1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.firstRing {
  padding: 1rem;
  opacity: 0.8;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 9rem;
  height: 9rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1.3rem solid white;
  animation-name: beatRing;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  animation-name: beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes beat {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.3);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
@keyframes beatRing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.heartIcon {
  color: white;
  font-size: 3.5rem;
  opacity: 1 !important;
}
.ring-button {
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
.check-alert {
    bottom: 10rem;
}
.count-headline {
  bottom: 11rem;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .ring-button {
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .count-headline {
      width: 100%;
      bottom: 6rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .icon-container {
      bottom: 12rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .check-alert {
      bottom: 8rem;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    .ring-button {
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .count-headline {
      width: 100%;
      bottom: 6rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .icon-container {
      bottom: 17rem;
      left: 50%;
      transform: translateX(-50%);
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .ring-button {
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .count-headline {
      width: 100%;
      bottom: 10rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .icon-container {
      bottom: 25rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .check-alert {
      bottom: 15rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .icon-container {
      bottom: 30rem;
    }
    .check-alert {
      bottom: 15rem;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .icon-container {
      bottom: 40rem;
    }
    .check-alert {
      bottom: 15rem;
    }
}

